.navbar-brand {
  color: #333;
}

a {
  color: #aaa;
  font-weight: 200;
}

.text {
  font-size: 10px;
  color: chartreuse
}

.title {
  font-family: 'Shadows Into Light', cursive;
}
.brand{
  color: whitesmoke;
}